<div class="geral">
    <div class="corpo">
        <div class="bloco">
            <h6>Inner Pulse</h6>
            <p>Aqui você consegue se sentir bem consigo mesmo e achar de forma rápida e intuitiva a sua melhor versão,
                ao lado de pessoas que te entendem e querem te ajudar a vencer esse desafio</p>
        </div>
        <div class="bloco bloco2">
            <h6>Objetivos</h6>
            <p>Conectar você ao portadores de DCNT's de forma leve</p>
            <p>Informar você sobre o mundo das doenças crônicas</p>
            <p>Fazer você se sentir melhor consigo mesmo</p>
        </div>
        <div class="bloco bloco1">
            <h6>Links Úteis</h6>
            <a href="https://share.google/2NLvlbE43Tls7YU7g" class="links-footer">190 - Policia Militar</a>
            <a href="https://samues.com.br/" class="links-footer">192 - Samu</a>
            <a href="https://www.defesacivil.pr.gov.br/servicos/APMG/Emergencia/Acionar-Corpo-de-Bombeiros-193-0A30a4rk"
                class="links-footer">193 - Corpo de Bombeiros</a>
        </div>
        <div class="bloco bloco3">
            <h6>Contatos</h6>
            <p>Muzambinho, MG 37890-000, Brasil</p>
            <p>innerpulseContato@gmail.com</p>
            <p>+55 35 992233-4455</p>
            <p>1515</p>
        </div>
    </div>
    <div class="copy">
        © 2025 Inner Pulse. Todos os direitos reservados.
    </div>
</div>